<h1> Thank you for joining V.I.B.E  </h1>

<h2> Next Steps </h2>


<%= form_for @user, html: { multipart: true } do |f| %>
<%= f.file_field :picture %>


  <% if @user.errors.any? %>
    <div class ="error_messages">
      <h2>Form is invalid</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth%>
    <%= f.date_select :date_of_birth,
        { order: [:month, :day, :year],
          prompt: [ day: 'Select day', month: 'Select month', year: 'Select year' ]} %>
  </div>


  <div class="field">
    <div class="dropdown"></div>
    <div class="field">Select your Region</div>
    <%= select("user", "region", User::REGIONS, {include_blank: true}) %>
  </div>

  <div>
     <%= f.label :volunteer_position %><br/>
     <%=f.select :volunteer_position, options_for_select([["High School Community Service", 1], ["Event Committee", 2], ["board", 3], ["Long-Term (More than 3 months)", 4], ["Short Term (3 months or less)", 4]]) %>
   </div>

      <div class="field">Summary</div>
      <%= f.text_area :summary, :cols => "50", :rows => "10" %>
      </div>

    <div class = "actions">
    <%= f.submit %>

  </div>

    <% end %>
