<style>
.img-profile-editpage{
  width: 100%;
  background-size: auto;
  opacity: 0.2;
  z-index: 1;
  position: absolute;
  margin-top: -21px
}
.panel-info {
  position: absolute;
  z-index: 3;
}
.vibe-img-profile-editpage {
  position: absolute;
  width: 200px;
  margin-top: 0px;
  margin-left: 1055px;
  z-index: 2;
  height: 650px;
}
.panel-info>.panel-heading {
  background-color: #f15b31;
}
.panel-title {
  font-weight: bold;
}
.panel-info {
  border: none;
}
.panel-info>.panel-heading {
}
.panel-body {
}
.panel-heading {
  background: #0d2c40;
  color: white;
  border: none;
}

.sign {
  color: black;
  font-style: Arial;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;


}


</style>

  <div class="container">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


            <div class="panel panel-info">
              <div class="panel-heading">


                  <h3 class="panel-title"> Edit Profile</h3>

              </div>
              <div class="panel-body">
                <div class="row">

                <%= form_for @user, html: { multipart: true } do |f| %>

                <% if @user.errors.any? %>
                  <div class ="error_messages">
                    <h3>Form is invalid</h3>
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                  </div>
                <% end %>

                <p class="sign">Organizations will want to know who they’re onboarding so tell them a bit about yourself! </p>
          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
              <tbody>
              </br>

                <tr>
                  <td>Profile Picture:</td>
                  <td><%= f.file_field :picture %></td>
                </tr>

                <tr>
                  <td>First Name:</td>
                  <td><%= f.text_field :first_name %></td>
                </tr>
                <tr>
                  <td>Last Name:</td>
                  <td><%= f.text_field :last_name %></td>
                </tr>
                <tr>
                  <td>About Me:</td>
                  <td><%= f.text_area :summary, :cols => "50", :rows => "10" %></td>
                </tr>
                <tr>
                  <td>Region:</td>
                  <td> <%= select("user", "region", User::REGIONS) %></td>
                </tr>
                <tr>
                  <td>Date of Birth:</td>
                  <td> <%= f.date_select :date_of_birth,
                        :start_year => 1920,
                        order: [:month, :day, :year],
                        prompt: [ day: 'Select day', month: 'Select month', year: 'Select year' ] %></td>
                </tr>
                <tr>
                  <td> Hour Goals: </td>
                  <td> <%= f.number_field(:goals) %></td>
                </tr>

                <tr>
                  <td> Skills: </td>
                  <tr>
                  <td> <%= select("user", "skill1", User::SKILLS) %></td><BR>
                  </tr>
                  <tr>
                  <td> <%= select("user", "skill2", User::SKILLS) %></td><BR>
                  </tr>
                  <tr>
                  <td> <%= select("user", "skill3", User::SKILLS) %></td><BR>
                  </tr>
                  <tr>
                  <td> <%= select("user", "skill4", User::SKILLS) %></td><BR>
                  </tr>
                  <tr>
                  <td> <%= select("user", "skill5", User::SKILLS) %></td><BR>
                </tr>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-heading">
      <h3 class="panel-title"><%= f.submit "Update Profile" %></h3>
      </div>
     </div>
    </div>
  </div>

          <% end %>
<img src="/assets/peoplevibe.jpg" class="img-profile-editpage">
<img src="/assets/vibe4.png" class="vibe-img-profile-editpage">
