<<<<<<< HEAD
<h1> Thank you for joining V.I.B.E  </h1>

<h2> Next Steps </h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class ="error_messages">
      <h2>Form is invalid</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= select("user", "region", User::REGIONS, {include_blank: true}) %>
  </div>
  <div class="dropdown"></div>
    <div class="field">Select your Region</div>
    <select class="dropdown-content"></div>
    <option value="Toronto">Regions</option>
=======
<form action="/action_page.php">
  <fieldset>
    <legend>Edit Information</legend>
    First name:<br>  <input type="text" name="firstname" value=" ">
    <br>
    Last name:<br> <input type="text" name="lastname" value=" ">
    <br>
    Select your Region:
    <select>
    <option value="Region">Region</option>
>>>>>>> a53b2304f81cbb6a7c3c1d1983592adbf53c50d4
    <option value="Toronto">City of Toronto</option>
    <option value="York">York</option>
    <option value="Durham">Durham</option>
    <option value="peel">Peel</option>
    <option value="halton">Halton</option>
  </select>
    </select>
    <div class="dropdown"></div>
      <div class="field">Select Volunteer Opportunity Type</div>
      <select class="dropdown-content"></div>
        <option value="1">Types</option>
        <option value="2">High School Community Service</option>
        <option value="3">Event Committee</option>
        <option value="4">Board/Governance</option>
        <option value="5">Long-Term (More than 3 months)</option>
        <option value="6">Short Term (3 months or less)</option>
        </select>
    <div class ="textbox">
      <div class="field">Summary (max 250 characters)</div>
        <div class ="text-field">
        <textarea rows="10" cols="50">
        </textarea>
      </div>



    <div class = "actions">
    <%= f.submit %>
    <%= link_to 'Update User', user_path(current_user) %>
  </div>

    <% end %>
