
<h1> Thank you for joining V.I.B.E  </h1>

<h2> Next Steps </h2>


<%= form_for @user, html: { multipart: true } do |f| %>
<%= f.file_field :picture %>


  <% if @user.errors.any? %>
    <div class ="error_messages">
      <h2>Form is invalid</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <div class="dropdown"></div>
    <div class="field">Select your Region</div>
    <%= select("user", "region", User::REGIONS, {include_blank: true}) %>
  </div>

  <div>
     <%= f.label :volunteer_position %><br/>
     <%= f.select :volunteer_position, options_for_select([["High School Community Service","High School Community Service"], ["Event Committee", "Event Committee"], ["board", "board"], ["Long-Term (More than 3 months)", "Long-Term (More than 3 months)"], ["Short Term (3 months or less)", "Short Term (3 months or less)"]]) %>
   </div>



         <option value="6"></option>




    <div class ="textbox">
      <div class="field">Summary (max 250 characters)</div>
        <div class ="text-field">
        <textarea rows="10" cols="50">
        </textarea>
      </div>

    <div class = "actions">
    <%= f.submit %>

  </div>

    <% end %>
