<style>
.welcome {
  color: #f15b31;
  font-weight: bold;
}
</style>
<script src="https://use.typekit.net/ayg4pcz.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<div class="welcome-container">
<h1 class="welcome text-center">Welcome to V.I.B.E</h1>
    <div class="card card-container">
    <h3 class='login_title text-center'>Sign Up</h3>
    <hr>

    <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div class ="error_messages">
        <h3>Signup Failed</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      </div>
    <% end %>



        <div class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <p class="input_title">Email</p>
            <%= f.text_field :email, type: "text", class: "login_box", id: "inputEmail", placeholder: "Email" %>



            <p class="input_title">Password</p>
            <%= f.text_field :password, type: "password", class: "login_box", id: "inputEmail", placeholder: "Password" %>

            <p class="input_title">Confirm Password</p>
            <%= f.text_field :password_confirmation, type: "password", class: "login_box", id: "inputEmail", placeholder: "Confirm" %>

            <p class="input_title">Organization? <%= f.check_box :org_admin, checked_value: "1" %></p></br>


            <%= f.submit "Register", type: "submit", class: "btn btn-lg btn-primary" %>

            <% end %>
        </div>
    </div>
</div>
