
<div class="container">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= current_user.first_name.capitalize %>'s Profile
                <span class="pull-right">
                <i class="glyphicon glyphicon-edit"></i></a>

            <%= link_to 'Edit Profile', edit_user_path %>
         </span>
           </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <!-- <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://fillmurray.com/300/300" class="img-circle img-responsive"> </div> -->


                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                    </br>
                      <tr>
                        <td>About Me:</td>
                        <td><%= current_user.summary %></td>
                      </tr>
                      <tr>
                        <td>Region:</td>
                        <td><%= current_user.region %></td>
                      </tr>
                      <% if current_user.date_of_birth %>
                      <tr>
                        <td>Age:</td>
                        <td><%= current_user.age %></td>
                      </tr>

                      <% else %>

                      <tr>
                        <td>Age:</td>
                        <td></td>
                      </tr>

                      <% end %>


                      <tr>
                        <td>Email:</td>
                        <td><%= current_user.email %></td>
                      </tr>
                        <tr>
                        <td>Join Date:</td>
                        <td><%= current_user.created_at.strftime("%m/%d/%Y") %></td>
                      </tr>
                      <tr>
                        <td>Hours:</td>
                        <td><%= current_user.hours %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                   <p>Profile Page Footer :)</p>
                </div>

          </div>
        </div>
      </div>
    </div>
