<%= form_for [@organization, @event] do |f| %>

<% if @event.errors.any? %>

  <div class ="error_messages">
    <h2>Event Could Not Be Created</h2>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div> </br>
<% end %>

<div>
<%= f.label :name %>:
<%= f.text_field :name %><br />
</div>
<div>
<%= f.label :description %>:
<%= f.text_field :description %><br />
</div>
<div>
<%= f.label :location %>:
<%= f.text_field :location %><br />
</div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date,
          :start_year => 2017,
          order: [:month, :day, :year],
          prompt: [ day: 'Select day', month: 'Select month', year: 'Select year' ] %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_field :start_time, {ampm: true} %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.time_field :end_time %>

  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.select :capacity, options_for_select(1..500) %>





  </div>





<br>
<%= f.submit %>

<% end %>
