<%= form_for [@organization, @event] do |f| %>

<div>
<%= f.label :name %>:
<%= f.text_field :name %><br />
</div>
<div>
<%= f.label :description %>:
<%= f.text_field :description %><br />
</div>
<div>
<%= f.label :location %>:
<%= f.text_field :location %><br />
</div>
<div>
   <div class="field">
    <%= f.label :date%>
    <%= f.date_select :date,
        { order: [:month, :day, :year],
          prompt: [ day: 'Select day', month: 'Select month', year: 'Select year' ]} %>
  </div>

<br>
<%= f.submit %>
<% end %>
