<style>
.img-profile-editpage{
  width: 100%;
  background-size: auto;
  opacity: 0.2;
  z-index: -1;
  position: absolute;
  margin-top: -21px
}


</style>
<img src="/assets/peoplevibe.jpg" class="img-profile-editpage">

<h3>Event Name:</h3>
<p><%= @event.name %></p>
<h3>Date:</h3>
<p> <%= @event.date.to_formatted_s(:long_ordinal) %>, <%= @event.start_time.strftime("%H:%M%P") %></p>
<h3>Capacity</h3>
<p><%= @event.capacity %></p>
<h3>Description</h3>
<p><%= @event.description %></p>


<% if current_user && current_user == @organization.user %>


<table class="table table-bordered table-definition mb-5">
   <thead class="table-warning ">
       <tr>
           <th>APPLIED USERS</th>
           <th>Name</th>
           <th>Application Date</th>
           <th>E-mail address</th>
           <th>Confirmed</th>
       </tr>
   </thead>

   <% @event.users.each do |user| %>
   <h2 class ="title"><%= link_to "Sign Up", event_signup_url(event) %></h2>

   <tbody>
       <tr>
           <td>
               <label class="custom-control custom-checkbox">
                   <input type="checkbox" class="custom-control-input">
                   <span class="custom-control-indicator"></span>
               </label>
           </td>
           <h2 class ="title"><%= link_to "Sign Up", event_signup_url(event) %></h2>

           <td><%= user.first_name %> <%= user.last_name%></td>
           <td><%= user.created_at.to_formatted_s(:long_ordinal) %></td>
           <td><%= user.email %></td>
           <td>No</td>
       </tr>
   </tbody>
   <% end %>

   <tfoot>
       <tr>

           <th></th>
           <th colspan="4">
               <button class="btn btn-default">Approve</button>
               <button class="btn btn-default">Approve All</button>
           </th>
       </tr>
   </tfoot>
</table>

<% end %>


<div class="org-map" id="map">
  <iframe width="600" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?&key=AIzaSyA-n-_WBfJeCKnVbLZEq8zE16CC-XgtCjI&q=<%=URI.encode(@event.location)%>" allowfullscreen></iframe>

</div>
