

<p>Event: <%= @event.name %></p>
<p>Date: <%= @event.date %></p>
<p>Capacity: <%= @event.capacity %></p>
<p><%= @event.description %></p>

<p>Signed Up: <%= @event.users.count %></p>



<p><%= @event.location %></p>

<div class="org-map" id="map">
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?&key=AIzaSyA-n-_WBfJeCKnVbLZEq8zE16CC-XgtCjI&q=<%=URI.encode(@event.location)%>" allowfullscreen></iframe>
</div>
