

<%= form_for (@organization) do |f| %>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><i class="glyphicon glyphicon-globe"></i></a> Organization Profile</legend>
            <%= f.text_field :name, class: "form-control", placeholder: "Name", type: "text" %>
            <%= f.text_field :location, class: "form-control", placeholder: "Location", type: "text" %>
            <%= f.text_area :description, class: "form-control", placeholder: "About", type: "text", rows: "9", cols: "25" %></br>





          </br>

          <%= f.submit "Submit", type: "submit", class: "btn btn-lg btn-primary btn-block" %>


            </form>
        </div>
    </div>

    <% end %>
