<h1>Create Your Organization</h1>

<%= form_for @organization do |f| %>

<div>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
</div>
<div>
  <%= f.label :description %>:
  <%= f.text_field :description %><br />
</div>
<div>
  <%= f.label :location %>:
  <%= f.text_field :location %><br />
</div>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
