
<div class="container-fluid">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
          <%= image_tag @organization.image_url, :class => "img-responsive img-rounded", :style => "width:700px;height:500px;" %>
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
          <div class="org-map-org-show" id="map">
            <span><iframe width="700" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?&key=AIzaSyA-n-_WBfJeCKnVbLZEq8zE16CC-XgtCjI&q=<%=URI.encode(@organization.location)%>" allowfullscreen></iframe><</span>
          </div>
            <% if current_user && current_user == @organization.user %>

            <% else %>

            <% end %>

        </div>
        <!-- /.col-md-4 -->
    </div>
  </div>

  <h1 class="org-name"><%= @organization.name %></h1>

  <% if current_user && current_user == @organization.user %>

  <h3 class="org-show-buttons"><%= link_to "Create an Event", new_organization_event_path(@organization) %> | <%= link_to "Edit Organization", edit_organization_path(@organization) %></h3>

<% end %>
<section class="org-section">


<h2>Events</h2>


    <% @events.each do |event| %>



 <div class="container1">
		<div class="row">
      <% if current_user && current_user == @organization.user %>
      <%= link_to "Edit Event", edit_organization_event_path(@organization, event) %>
      |<%#= link_to "Cancel Event", event, method: :delete, data: {confirm: "Forreal?"} %>

      <% end %>
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day"><%= event.date.strftime("%d") %></span>
              <span class="month"><%= event.date.strftime("%^b") %></span>
							<span class="time">ALL DAY</span>
						</time>
						<div class="info">
							<h2 class="title"><%= link_to event.name, organization_event_path(@organization, event) %></h2></br>




              <% unless event.users.include?(current_user)  %>
            <h2 class ="title"><%= link_to "Sign Up", event_signup_url(event) %></h2>
              <% else %>
                <h2>Signed Up!</h2>
               <% end %>

						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>


  <% if current_user && current_user == @organization.user %>


  <table class="table table-bordered table-definition mb-5">
     <thead class="table-warning ">
         <tr>
             <th>APPLIED USERS</th>
             <th>Name</th>
             <th>Application Date</th>
             <th>E-mail address</th>
             <th>Confirmed</th>
         </tr>
     </thead>

     <% event.users.each do |user| %>

     <tbody>
         <tr>
             <td>
                 <label class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input">
                     <span class="custom-control-indicator"></span>
                 </label>
             </td>

             <td><%= user.first_name %> <%= user.last_name%></td>
             <td><%= user.created_at.to_formatted_s(:long_ordinal) %></td>
             <td><%= user.email %></td>
             <td>No</td>
         </tr>
     </tbody>
     <% end %>

     <tfoot>
         <tr>

             <th></th>
             <th colspan="4">
                 <button class="btn btn-default">Approve</button>
                 <button class="btn btn-default">Approve All</button>
             </th>
         </tr>
     </tfoot>
  </table>

  <% end %>

<% end %>



  <div class="organization_container">
    <h3 class="org-description">Description:
      <%= @organization.description %>
    </h3>
</section>

  </div>
