<style>
.vibe-img-profile-showpage {
  z-index: 2;
  position: relative;
  width: 600px;
  margin-top: -510px;
}

  .org-name {
    position: absolute;
    z-index: 3;
    margin-top: -552px;
    margin-left: -170px;
    transform: rotate(270deg);
    color: white;
    font-weight: bold;
    font-size: 47px;
    background: #0d2c40;
    width: 481px;
    height: 154px;
    text-align: center;
    padding-top: 74px;
    padding-bottom: 18px;
  }

  .org-section {
    z-index: 4;
    margin-top: -713px;
    margin-left: 225px;
  }

  .org-map {
    margin-top: 118px;
  }

  footer { display:none;}

  .org-show-buttons {
    position: absolute;
    margin-top: -772px;
    z-index: 5;
  }

  .col-sm-offset-2 {
      margin-left: 16.66666667%;
      z-index: 5;
  }

</style>

<img src="/assets/peoplevibe.jpg" class="img-org-indexpage">



<!-- <img src="/assets/peoplevibe.jpg" class="img-org-indexpage">
>>>>>>> 27da6a6e23df4611464ddbca24e4658ef31def4f
<img src="/assets/vibe1.png" class="vibe-img-profile-showpage">


  <h1 class="org-name"><%= @organization.name %></h1>

    <% if current_user && current_user == @organization.user %>

  <h3 class="org-show-buttons"><%= link_to "Create an Event", new_organization_event_path(@organization) %> | <%= link_to "Edit Organization", edit_organization_path(@organization) %></h3>

<% end %> -->
<div class="container-fluid">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
          <%= image_tag @organization.image_url, :class => "img-responsive img-rounded" %>
        </div>
        <!-- /.col-md-8 -->


        <div class="col-md-4">
            <h1><%= @organization.name%></h1>
            <p><%= @organization.description %></p>

            <% if current_user && current_user == @organization.user %>

            <div class="btn btn-primary btn-lg">
              <%= link_to "Create Event", new_organization_event_path(@organization) %>
            </div>

            <div class="btn btn-primary btn-lg">
              <%= link_to "Edit Organization", edit_organization_path(@organization) %>
            </div>

            <% end %>

        </div>

        <!-- /.col-md-4 -->
    </div>
  </div>



<section class="org-section">


<h2>Events</h2>


    <% @events.each do |event| %>


 <div class="container">
		<div class="row">
      <% if current_user && current_user == @organization.user %>
      <%= link_to "Edit Event", edit_organization_event_path(@organization, event) %></h2>
      <!-- <%= link_to "Cancel Event", @event, method: :delete, data: {confirm: "Are you sure?"} %> -->
      <% end %>
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day"><%= event.date.strftime("%d") %></span>
              <span class="month"><%= event.date.strftime("%^b") %></span>
							<span class="time">ALL DAY</span>
						</time>
						<div class="info">
							<h2 class="title"><%= link_to event.name, organization_event_path(@organization, event) %>
 |

              <% unless event.users.include?(current_user) %>
              <%= link_to "Sign Up", event_signup_url(event) %></h2>
              <% else %>
                 Signed Up!</h2>
               <% end %>



               </br>
							<p class="desc"><%= event.description %></p>
              <p class="desc"><%= event.location %></p>


						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

<% end %>



  <div class="organization_container">

</section>
    <div class="org-map" id="map">
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?&key=AIzaSyA-n-_WBfJeCKnVbLZEq8zE16CC-XgtCjI&q=<%=URI.encode(@organization.location)%>" allowfullscreen></iframe>
    </div>
  </div>
