<h1><%= @organization.name %></h1>

<% if current_user == @organization.user %>

  <h3><%= link_to "Create an Event", new_organization_event_path(@organization) %> | <%= link_to "Edit Organization", edit_organization_path(@organization) %></h3>

<% end %>


<div class="organization_container">

<h3>About Us:</h3>
 <%= @organization.description %>
<h2 class = "location">Location:</h2>
 <div id="location"> <%= @organization.location %> </div>

 <iframe width="600" height="450" frameborder="0" style="border:0" src=<%=@address%>  allowfullscreen></iframe>


</div>
<div id="map"></div>

<h3>Events:</h3>

 <% @events.each do |event| %>

  <h3><%= event.name %> <%= link_to "Sign up", event_signup_url(event) %></h3>
  <p>Event Description: <%= event.description %></p>
  <p>Location: <%= event.location %></p>
  <p><%= event.date.to_formatted_s(:long_ordinal) %>, <%= event.start_time.to_formatted_s(:time) %></p>
  <p>Capacity: <%= event.capacity %></p>

  <% if current_user == @organization.user %>


  <h1>USERS</h1>



  <table class="table table-bordered table-definition mb-5">
     <thead class="table-warning ">
         <tr>
             <th>APPLIED USERS</th>
             <th>Name</th>
             <th>Application Date</th>
             <th>E-mail address</th>
             <th>Confirmed</th>
         </tr>
     </thead>
     <% event.users.each do |user| %>

     <tbody>
         <tr>
             <td>
                 <label class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input">
                     <span class="custom-control-indicator"></span>
                 </label>
             </td>

             <td><%= user.first_name %> <%= user.last_name%></td>
             <td><%= user.created_at.to_formatted_s(:long_ordinal) %></td>
             <td><%= user.email %></td>
             <td>No</td>
         </tr>

     </tbody>
     <% end %>
     <tfoot>
         <tr>
             <th></th>
             <th colspan="4">
                 <button class="btn btn-default">Approve</button>
                 <button class="btn btn-default">Approve All</button>
             </th>
         </tr>
     </tfoot>
  </table>

  <% end %>



       <% end %>
