
<div class="container-fluid">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
          <%= image_tag @organization.image_url, :class => "img-responsive img-rounded" %>
        </div>
        <!-- /.col-md-8 -->


        <div class="col-md-4">
            <h1><%= @organization.name%></h1>
            <p><%= @organization.description %></p>

            <% if current_user && current_user == @organization.user %>

            <div class="btn btn-primary btn-lg">
              <%= link_to "Create Event", new_organization_event_path(@organization) %>
            </div>

            <div class="btn btn-primary btn-lg">
              <%= link_to "Edit Organization", edit_organization_path(@organization) %>
            </div>

            <% end %>

        </div>

        <!-- /.col-md-4 -->
    </div>
  </div>



<section class="org-section">


<h2>Events</h2>


    <% @events.each do |event| %>


 <div class="container">
		<div class="row">
      <% if current_user && current_user == @organization.user %>
      <%= link_to "Edit Event", edit_organization_event_path(@organization, event) %>
      |<%#= link_to "Cancel Event", event, method: :delete, data: {confirm: "Forreal?"} %>

      <% end %>
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day"><%= event.date.strftime("%d") %></span>
              <span class="month"><%= event.date.strftime("%^b") %></span>
							<span class="time">ALL DAY</span>
						</time>
						<div class="info">
							<h2 class="title"><%= link_to event.name, organization_event_path(@organization, event) %></h2></br>




              <% unless event.users.include?(current_user)  %>
            <h2 class ="title"><%= link_to "Sign Up", event_signup_url(event) %></h2>
              <% else %>
                <h2>Signed Up!</h2>
               <% end %>

						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

<% end %>



  <div class="organization_container">

</section>
    <div class="org-map" id="map">
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?&key=AIzaSyA-n-_WBfJeCKnVbLZEq8zE16CC-XgtCjI&q=<%=URI.encode(@organization.location)%>" allowfullscreen></iframe>
    </div>
  </div>
