<!DOCTYPE html>
<html>
  <head>
    <title>Vibe</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>

      <a class="navbar-brand" href="/home">V.I.B.E</a>

    </div>



    <div class="collapse navbar-collapse" id="myNavbar">

    <ul class="nav navbar-nav navbar-right">


      <li><%= link_to "Organizations", organizations_url %></li>

      <% if current_user && current_user.organization? %>

      <li><%= link_to "Create Event", new_organization_path %></li>


      <li><%= link_to "Organization Profile", user_path(current_user) %></li>

      <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>



      <% elsif current_user && current_user.organization == false %>

      <li><%= link_to "My Profile", user_path(current_user) %></li>
      <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
      <% else %>
      <li><%= link_to "Log in", new_session_path %></li>
      <li><%= link_to "Sign up", new_user_path %></li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>



<%= yield %>
<footer>
    <div class="container">
        <hr>
            <div class="text-center center-block">

              <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
              <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
              <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
              <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>

            </div>
        <hr>
    </div>
  </footer>
</body>

</html>
